html{
    background-color: #235bb4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    margin: 0;
}

.formulario{
    background-color: white;
    width: 20%;
    min-width: 350px;
    min-height: 280px;
    padding: 1em;
}

fieldset{
    border:none;
}

legend {
    margin: .5em 0;
    padding: 0;
    font-size: 1.5em;
    color: #235bb4;
    
}

.lb, inputInfo {
    display: block;
}

.lb{
    text-transform: uppercase;
    font-size: .75em;
    
}

.inputInfo {
    margin: 1em 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #235bb4;
}

.botoesCadastro {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .7em
}

.btn {
    padding: .6em .5em;
    background-color: #235bb4;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

.lnkLoginCadastro {
    font-size: smaller;
}

.inputInfo:focus {
    border: 2px solid #235bb4;
    
}

.inputInfo:invalid:focus{
    
}

.inputInfo:valid:focus {
    
}