html{
    background-color: #3a68b7;
    font-family: Roboto, Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    margin: 0;
}

.formulario {
    background-color: white;
    width: 20%;
    min-width: 350px;
    min-height: 280px;
    padding: 1em;
    box-shadow: rgba(0,0,0,.2) 4px 4px inset;
}

fieldset {
    border: none;
    
}

legend {
    margin: .5em 0;
    padding: 0;
    font-size: 1.5em;
    color: #3a68b7;
}

.lb, inputInfo {
    display: block;
}

.lb{
    text-transform: uppercase;
    font-weight: 300;
    font-size: .75em;
    
}

.inputInfo {
    margin: 1em 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #3a68b7;
}

.botoesCadastro {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .7em
}

.btn {
    padding: .6em .5em;
    background-color: #3a68b7;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

.lnkLoginCadastro {
    font-size: xx-small;
    font-weight: 600;
}


